/* @import '../node_modules/mapbox-gl/dist/mapbox-gl.css'; */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hoveredObjectData {
  list-style-type: none;
  margin:5px;
  padding:5px;
  color: azure;
}
h4 {
  margin-bottom: 5px;
  margin-top: 5px;
  color: rgb(240, 172, 62);
  font-size: x-large;
}

img {
  max-width: 75px;
  max-height: 50px;
}

h1 {
  z-index: 10000;
  color: "#E0DDDE";
}